{% extends 'base_distributed.html' %}

{% block update_selected %}selected{% endblock update_selected %}

{% load i18n %}

{% block title %}{% trans "Video Download" %}{% endblock %}

{% block headcss %}


<style>

.suggested-action {
    background-color: #F7F7F7;
    color: #444!important;
    display: block;
    margin-bottom: 10px;
    padding: 14px;
    position: relative;
    float: center;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 770px;
    min-width: 500px;
}

.suggested-action:hover {
    border-color: #C3CA7D;
    -webkit-box-shadow: 0 0 10px #76A005;
    -moz-box-shadow: 0 0 10px #76a005;
    box-shadow: 0 0 10px #76A005;
    color: #444!important;
    text-decoration: none!important;
}

.suggested-action-title {
    color: #005987;
    text-decoration: none;
}

.suggested-action-text {
    text-indent: -12;
    padding-left: 12;
}

.icon{
    float: left;
    background-color: red;
    height: 150px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.information{
    float: left;
    min-width: 300px;
    max-width: 570px;
    margin-left: 15px;

}
</style>

{% endblock headcss %}
{% block content %}


<h2> Getting Started With KA Lite</h2>

<p>KA Lite can run on any Linux or Windows server, with minimal requirements. To get started:

<div>
    
    <div class="vertical-shadow suggested-action">
        <div class="icon">
        </div>

        <div class="information">
            <h2 class="pulls ellipsis suggested-action-title">I have Internet access</h2>

            <li> First <a href="/accounts/register/">sign up for an account</a> on this site.</li>
            <li class="suggested-action-text"> The next step will be to create an Organization <span class="glossary-link" title="An Organization is an entity responsible for administering zones."></span> and Zone <span class="glossary-link" data-definition="An Organization is an entity" title="A Zone is an area in which devices can share content."></span>. An organization is an entity responsible for administering multiple different zones and facilities. Organizations can have multiple administrators. A zone is the area in which multiple devices may connect to share content with each other. A facility is the place where the server is located that enables sharing within a zone.</li>
        </div>

        <div class="clear">
        </div>
        
    </div>
    
    <div class="vertical-shadow suggested-action">
        <div class="icon">
        </div>

        <div class="information">
            <h2 class="pulls ellipsis suggested-action-title">I have Internet access</h2>

            <li> First <a href="/accounts/register/">sign up for an account</a> on this site.</li>
            <li class="suggested-action-text"> The next step will be to create an Organization <span class="glossary-link" title="An Organization is an entity responsible for administering zones."></span> and Zone <span class="glossary-link" data-definition="An Organization is an entity" title="A Zone is an area in which devices can share content."></span>. An organization is an entity responsible for administering multiple different zones and facilities. Organizations can have multiple administrators. A zone is the area in which multiple devices may connect to share content with each other. A facility is the place where the server is located that enables sharing within a zone.</li>
        </div>

        <div class="clear">
        </div>
        
    </div>
    
    <div class="vertical-shadow suggested-action">
        <div class="icon">
        </div>

        <div class="information">
            <h2 class="pulls ellipsis suggested-action-title">I have Internet access</h2>

            <li> First <a href="/accounts/register/">sign up for an account</a> on this site.</li>
            <li class="suggested-action-text"> The next step will be to create an Organization <span class="glossary-link" title="An Organization is an entity responsible for administering zones."></span> and Zone <span class="glossary-link" data-definition="An Organization is an entity" title="A Zone is an area in which devices can share content."></span>. An organization is an entity responsible for administering multiple different zones and facilities. Organizations can have multiple administrators. A zone is the area in which multiple devices may connect to share content with each other. A facility is the place where the server is located that enables sharing within a zone.</li>
        </div>

        <div class="clear">
        </div>
        
    </div>

<div>

{% endblock content %}